body{
  font-family:Helvetica Neue,sans-serif;
  background-color:#491b1d;
  font-size: large;
  color:#eba73d
}
.container{
  padding-top:30px;
}
.page{
  color:brown;
  padding-top: 10px;
  padding-left: 20px;
  }
  .circle{
    padding-right: 20px;
  }
.restaurantname{
  font-size:75px;
  font-family: 'Brush Script MT', cursive;
  font-weight:bold;
  text-align:center;
  color:tomato;
  }
  .btn:hover{
background-color: #db664f;  
  cursor: pointer;
  }

.review{
  color:#db664f;
  padding-left: 150px;
}

.background{
    background-color:#1f180d;
}

/* unvisited link */
.nav>a:link {
    color: rgb(117, 74, 74);
    text-decoration: underline;
  }
  
  /* visited link */
  .nav>a:visited {
    color: burlywood;
  }
  
  /* mouse over link */
  .nav>a:hover {
    color: hotpink;
    font-weight: bold;
  }
  
  /* selected link */
  .nav>a:active {
    color:green;
    text-decoration: none;

  }
  
footer{
    text-align:center;
    color:darkgoldenrod;
  padding-top: 50px;
  padding-bottom: 50px;
  }
  

 
    